body,
html {
  font-family: "Roboto", sans-serif;
  background: white;
  height: 100%;
}
.logo {
  background-image: url("img/image.jpg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
:root {
  text-size-adjust: 100%;
}
.active {
  color: pink;
}
