body, html {
  font-family: "Montserrat", "sans-serif";
  background: white;
  height: 100%;
  margin: 0;
}
:root {
  text-size-adjust: 100%;
}
a {
  text-decoration: none;
}
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
  padding: 2vh;
  height: 9vh;
  width: 100vw;
  font-family: "Montserrat", "sans-serif";
  background-color: white;
  @media only screen and (max-width: 640px) {
    padding: 0vh;
  }
}
.navbar ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  margin-right: 85px;
  display: flex;
  justify-content: center;
  @media only screen and (max-width: 640px) {
    margin-right: 11px;
  }
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  @media only screen and (max-width: 640px) {
    padding: 8px 12px;
  }
}
.navbar li:last-child a {
  color: white; 
}
.project-card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 390px)); 
  gap: 50px; 
  padding: 10px 6px;
  justify-content: center; 
  margin-bottom: 12px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 10px;
    gap: 20px; 
  }
}
.home-div{
  height: 86vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(288deg, #7048E8, #4263EB); 
  background-size: 400% 400%;
  animation: gradientAnimation 5s ease infinite;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-div{
  width: 60vw;
  padding: 100px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media only screen and (max-width: 640px) {
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}
.header-div{
  margin-bottom: 20px;
  @media only screen and (max-width: 640px) {
    margin-bottom: 15px;
  }
  .mantine-Text-root {  
    @media only screen and (max-width: 640px) {
      font-size: 4rem; 
    }
  }
}
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  height: 5vh;
  z-index: 1000; 
  background-color: white;
}
